<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/bootstrap.min.css" />

    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/starter.css" />
    <title>Crittografia Hash.</title>
</head>
<body>

    <navbar>
        <section class="navbar-area navbar-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="javascript:void(0)">
                    <img th:src="@{img/logof.png}" alt="Logo" />
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarOne"
                        aria-controls="navbarOne"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a
                                class="page-scroll active"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-nav1"
                                aria-controls="sub-nav1"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                                href="javascript:void(0)"
                                >
                                Metodi crittografici
                                <div class="sub-nav-toggler">
                                    <span><i class="lni lni-chevron-down"></i></span>
                                </div>
                                </a>
                                <ul class="sub-menu collapse" id="sub-nav1">
                                <li><a th:href="@{/sha1/}">SHA-1</a></li>
                                <li><a th:href="@{/md2/}">MD2</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a
                                class="page-scroll active"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-nav2"
                                aria-controls="sub-nav2"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                                href="javascript:void(0)"
                                >
                                Teoria
                                <div class="sub-nav-toggler">
                                    <span><i class="lni lni-chevron-down"></i></span>
                                </div>
                                </a>
                                <ul class="sub-menu collapse" id="sub-nav2">
                                <li><a href="#">SHA-1</a></li>
                                <li><a href="#">MD2</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)">Risorse</a>
                            </li>
                            
                        </ul>
                    </div>
                    </nav>
                    <!-- navbar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        </section>

        <script src="https://cdn.ayroui.com/1.0/js/bootstrap.bundle.min.js"></script>

        <script>

        let navbarTogglerOne = document.querySelector(
            ".navbar-one .navbar-toggler"
        );
        navbarTogglerOne.addEventListener("click", function () {
            navbarTogglerOne.classList.toggle("active");
        });
        </script>
    </navbar>

    <br></br>
    <prev>
       <!--======  Start Section Title One ======-->
         <div class="section-title-one">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="text-center">
                        <div class="content">
                           <h2 class="fw-bold">Funzione crittografica di hash</h2>
                           <p> 
                              Teoria ed applicazioni in Java di due algoritmi della funzione crittografica
                              di hash: SHA-1 e MD2. <br> <br>
                              <b>
                              Gruppo: Nicolò Fioranzato, Thomas Giora, Thomas Sanavia, Gianmarco Zin
                           </b> </p>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
         </div>
         <!--====== ABOUT TWO PART ENDS ======-->
    </prev>

    <cards>
        <!--====== CARD PART START ======-->
      <section class="card-area pb-5">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="single-card card-style-one">
                     <div class="card-image">
                        <img th:src="@{img/2.png}" alt="Image" />
                     </div>
                     <div class="card-content">
                        <h4 class="card-title">
                           <a th:href="@{/sha1/}">Crittografia SHA-1</a>
                        </h4>
                        <p class="text">
                           Accesso all'applicazione per la codifica di un messaggio
                           attraverso l'algoritmo SHA-1
                        </p>
                     </div>
                  </div>
                  <!-- single-card -->
               </div>
               <!-- col -->
               <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="single-card card-style-one">
                     <div class="card-image">
                        <img th:src="@{img/1.png}" alt="Image" />
                     </div>
                     <div class="card-content">
                        <h4 class="card-title">
                           <a th:href="@{/md2/}">Crittografia MD2</a>
                        </h4>
                        <p class="text">
                           Accesso all'applicazione per la codifica di un messaggio
                           attraverso l'algoritmo MD2
                        </p>
                     </div>
                  </div>
                  <!-- single-card -->
               </div>
               <!-- col -->
               <div class="col-lg-4 col-md-7 col-sm-9">
                  <div class="single-card card-style-one">
                     <div class="card-image">
                        <img th:src="@{img/git.jpg}" alt="Image" />
                     </div>
                     <div class="card-content">
                        <h4 class="card-title">
                           <a href="javascript:void(0)">Risorse</a>
                        </h4>
                        <p class="text">
                           Collegamento a GitHub per la visualizzazione del codice
                        </p>
                     </div>
                  </div>
                  <!-- single-card -->
               </div>
               <!-- col -->
            </div>
            <!-- row -->
         </div>
         <!-- container -->
      </section>
      <!--====== CARD PART ENDS ======-->
    </cards>

</body>
</html>
